<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-tender-heading" jhiTranslate="tenderManagementApp.tender.home.createOrEditLabel">Create or edit a Tender</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!tender.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="tender.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tenderManagementApp.tender.tenderID" for="field_tenderID">Tender ID</label>
                    <input type="text" class="form-control" name="tenderID" id="field_tenderID"
                        [(ngModel)]="tender.tenderID" required/>
                    <div [hidden]="!(editForm.controls.tenderID?.dirty && editForm.controls.tenderID?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tenderID?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tenderManagementApp.tender.demandNumber" for="field_demandNumber">Demand Number</label>
                    <input type="text" class="form-control" name="demandNumber" id="field_demandNumber"
                        [(ngModel)]="tender.demandNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tenderManagementApp.tender.claimAmount1" for="field_claimAmount1">Claim Amount 1</label>
                    <input type="number" class="form-control" name="claimAmount1" id="field_claimAmount1"
                        [(ngModel)]="tender.claimAmount1" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tenderManagementApp.tender.claimAmount2" for="field_claimAmount2">Claim Amount 2</label>
                    <input type="number" class="form-control" name="claimAmount2" id="field_claimAmount2"
                        [(ngModel)]="tender.claimAmount2" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
