<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span jhiTranslate="tenderManagementApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tenderManagementApp.customer.firstName" [ngbTooltip]="'tenderManagementApp.customer.help.firstName' | translate">First Name</span></dt>
                <dd>
                    <span>{{customer.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="tenderManagementApp.customer.lastName">Last Name</span></dt>
                <dd>
                    <span>{{customer.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="tenderManagementApp.customer.email">Email</span></dt>
                <dd>
                    <span>{{customer.email}}</span>
                </dd>
                <dt><span jhiTranslate="tenderManagementApp.customer.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{customer.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="tenderManagementApp.customer.address1">Address 1</span></dt>
                <dd>
                    <span>{{customer.address1}}</span>
                </dd>
                <dt><span jhiTranslate="tenderManagementApp.customer.city">City</span></dt>
                <dd>
                    <span>{{customer.city}}</span>
                </dd>
                <dt><span jhiTranslate="tenderManagementApp.customer.tender">Tender</span></dt>
                <dd>
                    <div *ngIf="customer.tender">
                        <a [routerLink]="['/tender', customer.tender?.id, 'view']">{{customer.tender?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
