<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-heading" jhiTranslate="tenderManagementApp.product.home.createOrEditLabel">Create or edit a Product</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!product.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="product.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tenderManagementApp.product.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="product.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tenderManagementApp.product.make" for="field_make">Make</label>
                    <input type="text" class="form-control" name="make" id="field_make"
                        [(ngModel)]="product.make" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tenderManagementApp.product.model" for="field_model">Model</label>
                    <input type="text" class="form-control" name="model" id="field_model"
                        [(ngModel)]="product.model" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tenderManagementApp.product.qty" for="field_qty">Qty</label>
                    <input type="number" class="form-control" name="qty" id="field_qty"
                        [(ngModel)]="product.qty" required/>
                    <div [hidden]="!(editForm.controls.qty?.dirty && editForm.controls.qty?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.qty?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.qty?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tenderManagementApp.product.hsnCode" for="field_hsnCode">Hsn Code</label>
                    <input type="text" class="form-control" name="hsnCode" id="field_hsnCode"
                        [(ngModel)]="product.hsnCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tenderManagementApp.product.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="product.price" required/>
                    <div [hidden]="!(editForm.controls.price?.dirty && editForm.controls.price?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.price?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.price?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tenderManagementApp.product.spec" for="field_spec">Spec</label>
                    <input type="text" class="form-control" name="spec" id="field_spec"
                        [(ngModel)]="product.spec" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tenderManagementApp.product.customer" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" [(ngModel)]="product.customer" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customerOption.id === product.customer?.id ? product.customer : customerOption" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
